@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400|Roboto:400,700&display=swap");

#startbutton{
    display: block;
    font-size: 30px;
    text-decoration:none;
    line-height: 3;
    padding:10px 10;
    font-weight:bold;
    border:2px solid #27acd9;
    color:#27acd9;
    border-radius: 100vh;
    transition:0.5s;
    background-color: #27acd9;
    writing-mode: vertical-rl;
}
#startbutton:hover{
    color:#fff;
    background: #00ffff;
}
