h1{
    position: relative;
    top:100px;
}

body{
    background: #ffffff url(haikei.jpeg);
}


#button_01{
    display: block;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    width: 300px;
    margin:auto;
    padding:2rem 1rem;
    font-weight:bold;
    border-bottom:7px solid #0686b2;
    color:#fff;
    border-radius: 100vh;
    background: #27acd9;
    writing-mode: horizontal-tb;
    position: relative;
    right: 320px;
    top: 220px;
}
#ar:hover{
    margin-top: 6px;
    border-bottom:1px solid #0686b2;
    color: #fff;
}

#sr{
    display: block;
    font-size: 20px;
    text-decoration:none;
    width: 80px;
    margin:0 auto;
    line-height: 3;
    padding:1rem 4rem;
    font-weight:bold;
    border:2px solid #800000;
    color:#ff0000;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0, .2);
    transition:0.5s;
    writing-mode: vertical-rl;
    position: relative;
    top:120px;
}
#sr:hover{
    color: #000000;
    opacity: 0.5;
}

#back_button1{
    display: block;
    font-size: 30px;
    text-decoration:none;
    width: 200px;
    line-height: 2;
    padding:10px 10;
    font-weight:bold;
    border:2px solid #27acd9;
    color:#27acd9;
    border-radius: 100vh;
    transition:0.5s;
    position: relative;
    top: 200px;
    left: 280px;
}
#back_button1{
    color:#fff;
    background: #27acd9;
}

#hyou{
    position: relative;
    bottom: 250px;
    left: 1050px;
}