h1{
    position: relative;
    top:100px;
    font-size: 30px;
}

body{
    background: #ffffff url(haikei.jpeg);
}


#button_01{
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration:none;
    width: 100px;
    margin:auto;
    padding:2rem 2rem;
    font-weight:bold;
    border-bottom:7px solid #0686b2;
    color:#fff;
    border-radius: 100vh;
    background: #27acd9;
    writing-mode: horizontal-tb;
    position: relative;
    top: 200px;
}
#button_01:hover{
    margin-top: 6px;
    border-bottom:1px solid #0686b2;
    color: #fff;
}

#back_button1{
    display: block;
    font-size: 30px;
    text-decoration:none;
    width: 200px;
    line-height: 2;
    padding:10px 10;
    font-weight:bold;
    border:2px solid #27acd9;
    color:#27acd9;
    border-radius: 100vh;
    transition:0.5s;
    position: relative;
    top: 300px;
    left: 610px;
}
#back_button1{
    color:#fff;
    background: #27acd9;
}

#hyou{
    position: relative;
    bottom:100px;
    left: 950px;
}

