.flex {
    display: flex;
}



#back_button3{
    text-align: center;
    display: block;
    font-size: 30px;
    text-decoration:none;
    width: 200px;
    line-height: 2;
    padding:10px 10;
    font-weight:bold;
    border:2px solid #27acd9;
    color:#27acd9;
    border-radius: 100vh;
    transition:0.5s;
    position: relative;
    top: 200px;
    left: 280px;
}
#back_button3{
    color:#fff;
    background: #27acd9;
}
.unpi {
    width: 100;
    height: 100;
}

#aaa-1 input{
    display: inline-block;
    width: 250px; 
    font-size: 40;

}
.touroku_button {
    text-align: center;
    
}
.sakujo_button {
    text-align: right;

}